{% extends 'base.html' %}
{% block title %}Historia zamówień{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Twoje zamówienia</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Numer w koszyku</th>
                        <th>ID zamówienia</th>
                        <th>Nazwa produktu</th>
                        <th>Cena</th>
                        <th>Ilość</th>
                        <th>Suma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in cartproduct %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ cp.product.title }}</td>
                        <td>{{ cp.price }} PLN</td>
                        <td>{{ cp.quantity }}</td>
                        <td>{{ cp.subtotal }} PLN</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}